<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a routerLink="/">Kelley Consulting & Web Services</a>
      </div>
      <nav class="nav">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a routerLink="/services" routerLinkActive="active">Services</a>
        <a routerLink="/demos" routerLinkActive="active">Demos</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>
    </div>
  </div>
</header>
